@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

body {
	padding-top: 70px;
}

.comprado {
	background-color: #eee;
	a.nombre {
		text-decoration: line-through;
	}
}

#product-form {
  top: 0%;
  .row {
	  padding: 4px;
  }
}

button.searching {
	text-decoration: underline;
	font-weight: bold;
}
